*.elc
auto
public
public-*
tests
img
figures.for-export
howto.html*
*.class
*.log
*.aux
*.bbl
*.blg
*.out
*.toc
*.pdf
*~
*.tex
!template.tex
*.meta
figures/tikz/*png
figures/tikz/*svg
!public/reveal.js/*
